<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/form}" method="post" th:object="${form}">
    <input type="text" placeholder="Temat"  id="subject" th:field="*{subject}"/>
    <input type="text" placeholder="Imię"  id="name" th:field="*{name}"/>
    <input type="text" placeholder="Nazwisko" id="surname" th:field="*{surname}"/>
    <input type="text" placeholder="Email"  id="email" th:field="*{email}"/>
    <input type="number" placeholder="Numer Telefonu"  id="number" th:field="*{number}"/>
    <textarea  placeholder="Wiadomość" id="message" th:field="*{message}"></textarea>
    <input type="submit" value="Wyślij"/>


</form>
</body>
</html>