<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../vendor/css/reset.css}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link th:href="@{../vendor/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form th:action="@{/form}" method="post" th:object="${form}" class="cf">
    <div class="half left cf">
        <input type="text" id="input-subject" placeholder="Temat"  th:field="*{subject}"/>
        <input type="text" id="input-name" placeholder="Imię" th:field="*{name}"/>
        <input type="text" id="input-surname" placeholder="Nazwisko" th:field="*{surname}"/>
        <input type="email" id="input-email" placeholder="Email address" th:field="*{email}"/>
        <input type="text" id="input-number" placeholder="Numer Telefonu" th:field="*{number}"/>
    </div>
    <div class="half right cf">
        <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
    </div>
    <input type="submit" value="Wyślij" id="input-submit"/>
</form>
<iframe th:attr="src=@{https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.132255040678!2d20.939385115244!3d52.186468668646334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719335fa7d2a56d%3A0x6512b07f6192999c!2sLeonidasa+55%2C+Warszawa!5e0!3m2!1spl!2spl!4v1509307313874}"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>