<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>GAL -SPRZEDAZ JAJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{../vendor/css/reset.css}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link th:href="@{../vendor/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<section id="welcome">
   <div class = "container">
       <header class = "page-header clearfix">
          <ul>
        <li class="active"><a th:href="@{/form}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Kontakt</a></li>
             <li class="active"><a th:href="@{/oferta}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Oferta</a></li>
        <li class="active"><a th:href="@{/us}" data-target-id="home"><i class="fa fa-home fa-fw"></i>O nas</a></li>
    </ul>
    <h1>GAL<br>SPRZEDAŻ JAJ I MAKARONÓW</h1>
</header>
   </div>
</section>

<section class = "container2">
             <p>Firma "Gal" to hurtownia z bogatym długoletnim doświadczeniem, ktora funkcjonuje na rynku spożywczym od ponad 20 lat. Specjalizacja firmy jest sprzedaż najwyższej jakości jaj konsumpcyjnych, a także makaronów z jaj przepiórczych. </p>
</section>



<footer class = "page-footer">
<div class = "container3">
    <header class = "footer-header">

    </header>
    <div class = "footer-cont clearfix">
        <div class = "col1-2">
            <nav>
                <ul>
                    <li><a th:href="@{/form}">Kontakt</a></li>
                    <li><a th:href="@{/}"> Menu </a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</footer>
</body>

</html>

